* {
    box-sizing: border-box;
  }

  
.field:hover {
    background-color: #c0c0c0;
}

.illegalField:hover {
  background-color: #ec0000;
}

.winningField{
  background-color:rgb(67, 155, 96)
}


.buttonRight {
  background-color: rgb(92, 1, 1);
  color: white;
  height: 150px;
  width: 200px;
  font-weight: bold;
}


#startButton {
  background-color: green;
  color: white;
  height: 100px;
  width: 200px;
  font-weight: bold;
}
  

#restartButton {
  background-color: red;
  color: white;
  height: 100px;
  width: 200px;
  font-weight: bold;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  outline: thin solid black;
}

#header {
  height: 200px;
  width: 100%;
  display: grid;
  justify-items: center;
  font-size: 40px;
  align-items: center;
}

#masterGrid {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, 600px);
  grid-template-rows: 400px, 600px, 400px;
}

#turnIndicator {
  display: grid;
  justify-items: center;
  font-size: 40px;
  align-items: center;
}

#interfaceRight {
  display: grid;
  row-gap: 50px;
}


#gameScore {
  display: grid;
  justify-items: center;
  font-size: 40px;
  align-items: center;
}

#interfaceLeft {
  display: grid;
  justify-items: center;
  font-size: 40px;
  align-items: center;
}

#interfaceMiddleBottom {
  display: grid;
  justify-items: center;
  font-size: 40px;
  align-items: center;
  height: 400px;
  text-align: center;
}

#gameGrid {
    height: 450px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}